.gmail {
    border: none;
    background-color: white;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 150px;
}

.gmail:hover {
    text-decoration: underline;
}

.images {
    border: none;
    background-color: white;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 80px;
}

.images:hover {
    text-decoration: underline;
}

img {
    border: none;
    background-color: white;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 30px;
    border-radius: 50%;
}

.customize {
    border: none;
    background-color: white;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
    box-shadow: 1px 1px 1px;
    border-radius: 40%;
    height: 30px;
    width: 150px;
}

.customize:hover {
    text-decoration: underline;
}

.google {
    position: fixed;
    top: 10%;
    right: 50%;
    transform: translateX(50%);
    font-size: 80px;
}

.list {
    position: fixed;
    top: 45%;
    right: 50%;
    transform: translateX(50%);
}


.search {
    border: none;
    position: fixed;
    top: 38%;
    right: 50%;
    transform: translateX(50%);
    box-shadow: 1px 1px 1px;
}

input {
    border-color: rgb(241, 245, 245);
    border-radius: 30%;
    height: 40px;
    width: 500px;
    position: fixed;
    top: 38%;
    right: 50%;
    transform: translateX(50%);
    box-shadow: 1px 1px 1px;
}

.s1 {
    background-color: tomato;
    font-size: 1rem;
}

.s2 {
    background-color: orange
}

.s3 {
    background-color: DodgerBlue
}

.s4 {
    background-color: MediumSeaGreen
}

.s5 {
    background-color: Gray
}

.s6 {
    background-color: SlateBlue
}

.s7 {
    background-color: violet
}

.s8 {
    background-color: LightGray
}

.list {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.list>div {
    margin: 20px;
    padding: 20px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.list>div:hover {

    margin: 0;
    padding: 40px;
    border-radius: 5%;
    border: none;
    background-color: rgb(225, 229, 231);
}